<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>



<form>
  <div class="row">
    <span class="responseMessage" style="color:red;"></span>
    <div class="small-12 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Job Title:</label>
        </div>
        <div class="small-9 columns">
          <input type="text" name="title" id="right-label" placeholder="Inline Text Input">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Company:</label>
        </div>
        <div class="small-9 columns">
          <input type="text" name="company" id="right-label" placeholder="Inline Text Input">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Description:</label>
        </div>
        <div class="small-9 columns">
          <textarea type="text" name="description" id="right-label" placeholder="Inline Text Input"></textarea>
        </div>
      </div>

    </div>
  </div>
  <button class="right">Submit</button>
</form>


      </div>
    </div>

<script type="text/javascript">
  $( "form" ).submit(function( event ) {
  alert( "Handler for .submit() called." );

  var values = {};
  $.each($('form').serializeArray(), function(i, field) {
      values[field.name] = field.value;
      console.log(field.name + ':');
      console.log(field.value);
  });
 console.log(values);
  //console.log(event);  
/*    var data = { 
        "title" : "Test Job", 
        "company" : "Test Company", 
        "description" : "Lorum Ipsum blah blah", 
      };
*/      
    $.ajax({
        type: "POST",
        url: "/api/jobs",
        processData: false,
        contentType: 'application/json',
        data: JSON.stringify(values),
        success: function(r) {
          //alert(r);
          console.log('response success');
          console.log(r.message);
          $('.responseMessage').text(r.message);
          $( 'form' ).each(function(){
              this.reset();
          });
        }

    });


  event.preventDefault();
});


</script>


  </body>
</html>